

 @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Class</h1>

    <h3>Information Encoding Standards  BDAT1001</h3> 

    <h5>Final Project: Authentication & Authorization</h5>

    <h5>Instructor: Nital Shah</h5>
</div>